
.about__title{
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.about__description{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}
