
.binabox__header{
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
}

.binabox__text {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;

}

.binabox__description{
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}