
.blog-section__title{
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.blog-card__time{
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.blog-card__author{
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.blog-card__description{
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.blog-card__button{
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #fff;
    border: 2px #d0d7fb ;
}

