
.catalog-section__title {
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
}

.catalog-section__link{
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    border: 2px #d0d7fb ;
}

.catalog-item__price{
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #fff;
}

.catalog-item__header{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
}
