.catalog-section{
&__titel {
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
}
&__link {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #f5f8fb;
    border: 2px #d0d7fb ;
}

}