.item-card {
    width: 328px;
    height: 232px;
    min-width: 288px;
    max-width: 328px;
    padding: 40px, 32px;
    gap: 24px;
     display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #D4D9F242;
    &__titel {
        font-family: 'Bakbak One';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: -0.5px;
    }

    &__text {
        font-family: 'Poppins';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;

    }
}