.post {
    &__text {
        font-family: 'Poppins';
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    &__text-link {
        font-family: 'Poppins';
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        text-decoration: none;
    }

    &_title {
        font-family: 'Bakbak One';
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0;
    }

    &__button {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        color: #f5f8fb;
        border: 2px #d0d7fb;
        background-color: #0265DC;
    }

    &__author {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    &__time {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    &__text {
        font-family: 'Poppins';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
    }

    &__list-text {
        font-family: 'Poppins';
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
    }

    &__quote {
        font-family: 'Bakbak One';
        font-weight: 400;
        font-style: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0;
        background-color: #002754;
    }

    &__quote-author {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    &__tags-title {
        font-family: 'Poppins';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }
}
.post__person-icon{
    fill: #FFFFFF;
    width: 12.48px;
    height: 13.333px;
top: 1.33px;
left: 1.76px;
}
.post__calendar-icon{
    top: 0.67px;
    left: 1.33px;
    fill: #E7F1FD7D ;
}
.post__stars-icon{
    fill: #E7F1FD7D;
    top: 0.67px;
    left: 0.67px;
}