
.button--primary{
    color: #fff;
    border: 2px #d0d7fb;
    border-radius: 2px #d0d7fb;
    background-color:transparent;
}
.button {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    background-color: #0265dc;
    color: #fff;
    border: 2px #d0d7fb ;
}
.button about__button button--large {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background-color: transparent;
    border: 2px #d0d7fb ;
}