
.faq__titel{
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.faq-info__title {
    font-family: 'Bakbak One';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
}

.faq-info__text{
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}