.navigation {
    &__title {
        font-family: 'Poppins';
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: 28px;
    }

    &__list-link {
        font-family: 'Poppins';
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        line-height: 16px;
        color: #f5f8fb;
        text-decoration: none;
    }
}