.networks{
&__title {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}
&__link {
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #f5f8fb;
}
}




