<section class="about">
            <h2 class="about__title">About us</h2>
            <p class="about__description">We craft digital artifacts for those who live between worlds.
                Our space is bulit for creators, collectors, and the quietly obsessed.</p>
                <button class="button about__button button--large">Read more</button>
</section>