<section class="banner">
            <h1 class="banner__header">WITH BINABOX EXPLORE NFT COLLECTION</h1>
            <p class="banner__text">We are the best way to check the rarity of NFT collection</p>
            <dl class="banner__counter">
                <dt class="banner__counter-title">Total Iteam</dt>
                <dd class="banner__counter-number">2200+</dd>
                <dt class="banner__counter-title">Profiles whitelisted</dt>
                <dd class="banner__counter-number">1000+</dd>
            </dl>
            <div class="banner__link-wrap">
                <a class="banner__link button" href="home">Connect walet</a>
                <a class="banner__link button" href="home">Whitelist now</a>
            </div>
        </section>