<section class="catalog-section">
            <h2 class="catalog-section__title">Catalog</h2>
            <a href="#" class="catalog-section__link">See all</a>
            <a href="#">
                <article class="catalog-item">
                    <img class="catalog-item__img" src="m.png" alt="Echo of Bones">
                    <p class="catalog-item__price">$1990</p>
                    <h3 class="catalog-item__header">Echo of Bones</h3>
                </article>