<article class="catalog-item">
    <img class="catalog-item__img" src="m.png" alt="1">
    <p class="catalog-item__price">{{ item.price }}</p>
    <h3 class="catalog-item__header">{{ item.name }}</h3>
</article>