   <footer>
        <section class="binabox">
            <h2>
                About Us
            </h2>
            <a class="binabox__link" href="#">Binabox</a>
            <p class="binabox__description">We are the best way to check the rarity of NFT collection.</p>
        </section>
        <nav>
            <section class="navigation">
                <h3 class="navigation__title">Navigation</h3>
                <ul class="navigation__list-item list-item">
                    <li class="list-item__link"><a class="link" href="#">Home</a> </li>
                    <li class="list-item__link"><a class="link" href="#">Blog</a></li>
                    <li class="list-item__link"><a class="link" href="#">Catalog</a></li>
                    <li class="list-item__link"><a class="link" href="#">Contact Us</a></li>
                    <li class="list-item__link"><a class="link" href="#">Terms Conditions</a></li>
                    <li class="list-item__link"><a class="link" href="#">Privacy Policy</a></li>
                    <li class="list-item__link"><a class="link" href="#">Whitepaper</a></li>
                    <li class="list-item__link"><a class="link" href="#">Help Center</a></li>
                </ul>
            </section>
        </nav>
        <p>BINABOX 2022 - ALL rights reserved</p>
        <section class="networks">
            <h3 class="networks__title">
                Social Networks
            </h3>
            <a  class="networks__link" href="#">Twitter</a>
            <a class="networks__link" href="#">Facebook</a>
            <a class="networks__link" href="#">Telegram</a>
            <a class="networks__link" href="#">YouTube</a>
            <a class="networks__link" href="#">TikTok</a>
            <a class="networks__link" href="#">Discord</a>
        </section>
    </footer>