@use'../base/global';

@use'../layout/binaboxs';
@use'../layout/catalog';
@use'../layout/catalog-list';
@use'../layout/blog-section';
@use'../layout/blog-card.scss';
@use'../layout/about';
@use'../layout/counted-list';
@use'../layout/team';
@use'../layout/person';
@use'../layout/faq';
@use'../layout/faq-info';
@use'../layout/blog.scss';
@use'../layout/categories';
@use'../layout/tag';
@use'../layout/post';

@use'../components/button';
@use'../components/nav__list-link';
@use'../components/navigation';
@use'../components/branding';
@use'../components/networks';
footer {
  background-color: #333333;
  color: var(--white-color);
  padding: 1rem 0;
  text-align: center;
}
