@use 'variables' as *;


body {
    background-color: #0d0d15;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    font-weight: 400;
    color: #fff;
}