:root {
    --color-white: #ffffff;
    --color-gray:
        --color-bg:
}

$main-color: #ffffff;
$font-primary: "Poppins", "Arial", sans-serif;
$font-secondary: "Bakbac One", "Arial", sans-serif;

$mobile: 360px;
$tablet: 678px;
$desktop: 1280px;
$desktop-large: 1728px;